# Khi chạy trên web hoặc máy tính, có thể để localhost:
EXPO_PUBLIC_API_URL=http://localhost:4000/api

# Khi quét QR bằng điện thoại, đổi localhost thành IPv4 máy tính, ví dụ:
# EXPO_PUBLIC_API_URL=http://192.168.1.5:4000/api
